// -----------------------------------------------------------------------------
// This file contains very user custom styles.
// -----------------------------------------------------------------------------

.hero {
  height: 100vh !important;

  h3 {
    font-size: 40px;
    font-weight: 300;
  }

}

.flex-box {
  @include flex-box(center, center, center, row, wrap)
}