// -----------------------------------------------------------------------------
// This file contains very user custom styles.
// -----------------------------------------------------------------------------

.hero {
  height: 100vh !important;

  h3 {
    font-size: 5rem;
    font-weight: 300;
    transition: .3s ease-in-out;
    cursor: pointer;

    &:hover {
      transition: .3s ease-in-out;
      transform:scale(1.5);
    }
  }
}

.flex-box {
  @include flex-box(center, center, center, row, wrap)
}